<html>
	<body>
	Represents the view of the MVC pattern and interacts with the user through a UI.
	The view only has controll over its own layer and doesn't have any logic implemented
	conserning subjects of othe layers like the controller layer or the model layer.
	But this doesn't mean the view layer doesn't do anything on its own. It is, of course,
	responsible for the interaction with the user. Notice, this package also has a factory.
	Factories here are used to encapsulate the object creation from the actual use of that
	object. Factories are used when other layers use that object too. The package it resides
	is responsible for the creation and then passes it on.
	</body>
</html>